# ignore Python virtual environment
/mamba_its_venv/
/venv/

# ignore dataset
/mamba_its/dataset/PAMdata/splits/
/mamba_its/dataset/PAMdata/processed_data/

# ignore log
/mamba_its/code/Vision/wandb/
/mamba_its/ckpt/

/mambavisiontest/