# ignore Python virtual environment
/mamba_its_venv/
/venv/

# ignore dataset
/mamba_its/dataset/P12data
/mamba_its/dataset/P19data
/mamba_its/dataset/PAMdata/processed_data/*
/mamba_its/dataset/PAMdata/splits/*
/mamba_its/dataset/TSRAdata
/mamba_its/dataset/raindrop

# ignore log
/mamba_its/code/Vision/wandb/
/mamba_its/ckpt/

# ignore large files
*.safetensors
*.pt
*.npy
*.mat

/mambavisiontest/
/ViTST/
/MambaVision/
